.btn-primary {
    float: right;
    margin-top: -36px;
}

.save-btn {
    margin-top: 10px;
    margin-left: 10px;
}

.error-help-block {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.flash-msg {
    width: 500px;
    margin-top: 24px;
    margin-left: 20px;
}

.title {
    font-size: 50px
}

button#dropdownMenuButton1 {
    border: none;
    background: #ffffff;
}